/* Стили для списка событий */
.sighting-list {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
}

/* Стили для каждого элемента списка событий */
.sighting-item {
    display: inline-block; /* Отображаем элементы в ряд */
    vertical-align: top; /* Выравниваем их по верхнему краю */
    width: calc(33% - 20px); /* Ширина элемента - 33.33% ширины родительского контейнера с учетом отступов */
    margin-right: 20px; /* Отступ между элементами */
    margin-bottom: 20px; /* Отступ снизу */
    box-sizing: border-box; /* Учитываем ширину и отступы внутри элемента */
}

/* Стили для изображения события */
.sighting-image img {
    max-width: 100%; /* Изображение займет максимально доступную ширину родительского элемента */
    height: auto; /* Автоматическое масштабирование высоты для сохранения пропорций */
}

/* Стили для текста события */
.sighting-details {
    font-size: 16px; /* Размер шрифта */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Стили для текста, если изображение отсутствует */
.no-photo {
    font-style: italic; /* Курсивное начертание */
    color: #888; /* Серый цвет текста */
}
